body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('img/woodstock.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameContainer {
    position: relative; /* Canvas ve score için göreli konumlandırma */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameCanvas {
    border: 1px solid #fff;
    position: relative;
}

#score {
    position: absolute;
    top: -30px; /* Canvas'ın üstünde yer alır */
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10; /* Canvas'ın üstünde olduğundan emin olmak için */
}