body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('img/woodstock.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

#gameContainer {
    position: relative;
}

#gameCanvas {
    max-width: 100%;
    height: auto;
}

#gameTitle {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
}

#score {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
}

/* Kartlar ve modal için stil */
.card {
    border: 1px solid #fff;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.select-bg-btn {
    width: 100%;
}

/* Bootstrap modal için özelleştirme */
.modal-content {
    border-radius: 10px;
}

.modal-header, .modal-footer {
    border: none;
}
